@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(fontes/android.otf);
    font-weight: normal
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --bebas: 'Bebas Neue', cursive;
    --android: 'android', sans-serif;
}
/*
* {
    margin: 0px;
    padding: 0px;

    isso e uma regra global, que significa que todo conteudo vai ter como padrao margem=0 e padding=0. aqui se pode colocar as configuracoes mais usadas/necessarias que voce utiliza
}
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#c5ebd6;
   
}
header {
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    color: white;
    min-height: 150px;
    text-align: center;
    font-weight: normal;
    text-shadow: 3px 2px 4px #00000069;
    margin-right:-8px;
    margin-left: -8px;
    margin-top: -30px;
    padding: 40px;
}

header > p {
    font-family: var(--font0);
    font-size: 1.2em;
    max-width: 640px;
    margin: auto;    
}

header > h1 { font-family: var(--bebas);
    font-size: 3em;
    font-weight: normal;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav {
    background-color: var(--cor5);
    margin-left: -8px;
    margin-right: -8px;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}
nav > a {
    color: #5dc78d;
    font-size: 1.2em;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    
    
}
nav > a:hover {
    background-color: #2fa866;
    color: var(--cor5);
    border-radius: 3px;
    padding: 8px;
    margin: 2px;
    
    
}
img {
    width: 100%;
}
a.content::after {
    content: '\00a0\1f517';
}
main {
    
    background-color: white;
    text-align: justify;
    margin: auto;
    min-width: 320px;
    max-width: 800px;    
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-left: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.192)
}
main p { /*quando nao coloca o sinal de children (>) significa que ele vai aplicar a configuracao em todos paragrafos que estiverem dentro do main nao importando se ha section ou article entre eles*/
    text-indent: 30px;
    padding: 0px 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5em; /* espaco entre os paragrafos*/
}
main strong {
    color: var(--cor4);
    font-weight: bold;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 4px;
}
main a:hover {
    color: var(--cor4);
    text-decoration: underline;
}
h2 {
    font-family: 'android',  cursive;
    font-weight: normal;
    color: rgb(1, 99, 1);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding: 1px 1px 1px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
#historia > article > h1 {
    font-family: 'android',  cursive;
    font-weight: normal;
    color: rgb(1, 99, 1);
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
}
.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 350px;
}
.video {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 8px 0px;
    margin-top: 1px;
    margin-right: -8px;
    margin-bottom: -8px;
    margin-left: -8px;
}
footer > p {
    margin: 0px;
}
#aprender {
    background-color: rgb(144, 238, 194);
    border-radius: 10px 10px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.280);
}
#aprender > h3 {
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    margin-top: -1px;
    margin-right: -10px;
    margin-bottom: -9px;
    margin-left: -10px;
}

#aprender ul {
    list-style-position: inside;
    columns: 2;    
}